{{- if eq .Values.secret.enabled true -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pod-defaulter.fullname" . }}
  labels:
      {{- include "pod-defaulter.labels" . | nindent 4 }}
data:
  cert.pem: {{ .Values.certs.cert | b64enc }}
  key.pem: {{ .Values.certs.key | b64enc }}
type: Opaque
{{ end }}
